.centralizar {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.displayflex {
    display: flex;
    flex-direction: column;
}

.imagens {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
}

.imagens:nth-child(1) {
    object-position: 75% 0;
}

.imagens:nth-child(3) {
    object-position: 0 75%;
}

.texto{
    text-align: center;
}